<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>En riktigt fin bild.</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_320,w_320/face_left.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Ännu bättre.</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_330,w_330/face_left.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Ja, det är svårt att ta bättre bilder.</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Oerhört</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Bra</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/sheep.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/sheep.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Snygg!</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Test</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/horses.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/horses.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Test</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/couple.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/couple.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Test</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/couple.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/couple.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Test</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/smartphone.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/smartphone.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Test</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/couple.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/couple.jpg</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>Test</string>
		<key>name</key>
		<string>Richard</string>
		<key>url</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
		<key>thumb</key>
		<string>http://a2.res.cloudinary.com/demo/image/upload/c_thumb,g_face,h_140,w_140/face_left.jpg</string>
	</dict>
</array>
</plist>
