<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Well my imaginary friend thinks you have serious mental problems.</string>
	<string>Sarcasm is the body’s natural defense against stupidity.</string>
	<string>Find your patience before I lose mine.</string>
	<string>Tell me how I have upset you, because I want to know how to do it again.</string>
	<string>Tell me .. Is being stupid a profession or are you just gifted?</string>
	<string>I’d agree with you but then we’d both be wrong.</string>
	<string>If I promise to miss you, will you go away?</string>
	<string>Don&apos;t you ever bother me again.</string>
	<string>Never going to happen.</string>
	<string>No.</string>
	<string>Oh… I didn’t tell you… Then It must be none of your business.</string>
	<string>You go girl! And don’t come back.</string>
	<string>I am busy right now, can I ignore you some other time?</string>
	<string>Silence is golden. Duct tape is silver.</string>
	<string>How very observant of you there captain obvious.</string>
	<string>In another life. Maybe.</string>
	<string>Hell yeah!</string>
	<string>Yes.</string>
	<string>Maybe.</string>
	<string>Zombies eat brains. You’re safe.</string>
</array>
</plist>
